<h2>Customer Orders</h2>

<script type="text/javascript">
$(document).ready(function() {
  $('.ui-slider').each(function(i, e) {
    $(e).bind('touchend mouseup', function() { 
      check_list($(this));
    });
  });
});

function check_list(item) {
  var id = item.parent().parent().attr('data-id');
  item.parent().parent().remove();
  $.post('/api/end_order/' + id, function(data) {
  });
}
</script>

<ul id="order_list" data-role="listview" data-inset="true">
<% @orders.each do |order| %>
  <li class="ui-li ui-li-static ui-body-c ui-corner-none" data-id="<%= order.id %>">
    <div style="float:right">
      <select name="slider2" id="slider2" class="close_order_button" data-role="slider">
        <option value="off">Open</option>
        <option value="on">Done</option>
      </select>
    </div>
    <p class="ui-li-aside ui-li-desc" style="float: left">
      <h3>
      <% order.menu_order.each do |menu| %>
        <% menu_item = Menu.find(menu['menu_id']) %>
        <%= menu_item.name %>: <%= menu['quantity'] %>
      <% end %>
      </h3>
    </p>
    <p>Total price: $<%= calculate_price(order.menu_order) %></p>
  </li>
<% end %>
</ul>
