<h2>Order Map</h2>

<div id="map_container">
  <%= image_tag('map.png') %>
  <% @data.each do |ind, dat| %>
  <% mark = "<p id='mark" + ind.to_s + "'>" + ind.to_s + "</p>" %>
  <%= mark.html_safe %>
  <% end %>
</div>