<p id="notice"><%= notice %></p>

<p>
  <b>Marker:</b>
  <%= @order.marker_id %>
</p>

<p>
  <b>Menu:</b>
  <%= @order.menu_id %>
</p>


<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
