<h2>Inventory Stats</h2>

<div id="inventory" style="width: 800px; height: 300px; margin: auto">
</div>

<script type="text/javascript">

$(document).ready(function() {
  Morris.Line({
    element: 'inventory',
    data: [
    <% @data.each do |index, val| %>
      <% sale = val['sale'].nil? ? 0 : val['sale'] %>
      <% inv = val['inv'].nil? ? 0 : val['inv'] %>
      <%= "{y: '" + index + "', a: " + inv.to_s + ", b: " + sale.to_s + "}," %>
    <% end %>
    ],
    xkey: 'y',
    ykeys: ['a', 'b'],
    labels: ['Inventory', 'Sales'],
    smooth: false,
    hideHover: true
  });
});

</script>