/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

h1 a {
  color: white !important;
  text-decoration: none;
}

.ui-content h2 {
  font-size: 1em;
  margin-top: 0;
  text-align: center;
}

#map_container {
  position: relative;
  width: 800px;
  height: 600px;
  margin: auto;
}

#map_container p {
  position: absolute;
  padding: 2px 10px;
  color: white;
  background: #666;
  border-radius: 25px;
}

#mark1 {
  bottom: 142px;
  left: 363px;
}

#mark2 {
  bottom: 195px;
  left: 465px;
}

#mark3 {
  bottom: 238px;
  left: 553px;
}

#mark4 {
  bottom: 288px;
  left: 655px;
}