<!DOCTYPE html>
<html>
<head>
  <title>Myorder</title>
  <link rel="stylesheet" href="http://code.jquery.com/mobile/1.1.0/jquery.mobile-1.1.0.min.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  <script src="http://code.jquery.com/mobile/1.1.0/jquery.mobile-1.1.0.min.js"></script>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>  
  <div data-role="page">
    
    <div data-role="header">
      <a href="/map" data-icon="search">Map</a>
      <h1><a href="/">My Order</a></h1>
      <a href="/stats" data-icon="gear">Analytics</a>
    </div>
    
    <div data-role="content">
      <%= yield %>
    </div><!-- /content -->
  
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  </div>
</body>
</html>
